

.service-title {
    padding: 20px;
    font-size: x-large;
    font-weight: bolder;
}

.description {
    padding: 20px
}

.custom-button {
    background-color: pink !important;
    color: black !important;
    width: 10% !important; 
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
}
.custom-button:hover {
    background-color: yellow !important;
    
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper > * {
    margin-bottom: 10px;
}

.row {
    display: flex;
    padding: 20px;
}

.result {
    font-weight: bold;
    font-size: large;
}